<html>
<header>
    <style>
        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
            padding: 5px 32px;
        }

        input:not([type="submit"]) {
            width: 10%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid orange;
            border-radius: 4px;
        }
    </style>

</header>

<body>
    <h1>
        <font color='red' size='5'>(￣^￣)ゞ Hi Comrade, Something Wrong!</font>
        <!-- Hello mate, this is your flag: flag{w3lc0me_t0_s3cur1ty} -->
    </h1>

</body>

</html>